/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.section-list li i {
    margin-right: 10px; 
    color: #9b59b6;     
    font-size: 1.2em;      
}

/* Logo */
.logo img {
    max-height: 120px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #e8491d;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

/* Hero Section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/Снимок\ экрана\ 2025-04-19\ в\ 14.16.37.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero .subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero .date {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* General Section Styles */
.section-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.section-description {
    font-size: 1.2em;
    line-height: 1.8;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}
.list-container {
    width: 40%;
    margin: 0 auto; /* Initially centered */
    transform: translateX(10%);
}


.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Aligns to the left within the container */
    text-align: left;
}

.section-list li {
    margin-bottom: 10px;
    width: 100%;
}

.program .schedule {
    font-size: 1.2em;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Aligns to the left within the container */
    width: 100%;            /* Make schedule take full width */
}

.program .schedule p {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.program .schedule .time {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
}

/* Location Section */
.location {
    padding: 50px 0;
    text-align: center;
}

.location-info {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.location-address {
    font-size: 1.1em;
    color: #555;
}

/* Registration Section */
.registration {
    /* background-color: #f4f4f483; */
    padding: 50px 0;
    text-align: center;
}

.registration form {
    width: 60%;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 12px 24px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.button.primary {
    background-color: #9b59b6;
}

.button:hover {
    opacity: 0.8;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Messages */
.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.message.success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Responsive Design */
@media(max-width: 768px) {
    .container {
        width: 90%;
    }
    header .container {
        flex-direction: column;
        text-align: center;
    }
    header nav {
        margin-top: 10px;
    }
    header nav a {
        margin: 0 10px;
    }
    .registration form {
        width: 90%;
    }
    .section-title {
        font-size: 2em;
    }
    .section-description {
        font-size: 1em;
    }
    .program .schedule {
        font-size: 1em;
    }
    .qr-code {
        max-width: 150px; 
    }
}

.online-stream {
    padding: 50px 0;
    text-align: center;
    background-color: #f4f4f4; 
}

.online-stream .container {
    width: 70%; 
    margin: auto;
}

.online-stream .section-title {
    color: #000; 
    margin-bottom: 20px;
}

.online-stream p {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 20px;
}

/* QR Code Styling */
.qr-code-container {
    margin-top: 20px;
}

.qr-code {
    max-width: 200px; /* Ограничение размера QR-кода */
    height: auto;
    border: 5px solid #fff; /* Белая рамка вокруг QR-кода */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для выделения */
}


